/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

@media (min-width: 1024px) {
  /* big landscape tablets, desktops */
  .top-navigation .trigram {
    display: none;
  }
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (max-width: 1023px) {
  /* tablets, landscape mobile phones */
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media (max-width: 699px) {
  /* mobile phones */
  .content {
    max-width: 699px;
    text-align: center;
  }
  .content p.subtext {
    width: 100%;
  }
  .content .header-content {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .top-navigation ul {
    display: none;
  }
  .portfolio-list {
    flex-direction: column;
  }
  .teammate {
    padding: 5px;
    flex-direction: row;
    width: 100%;
    border: black 1px solid;
  }
  .teammates-list:before,
  .teammates-list:after {
    display: none;
  }
  .teammates-list-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .teammate-data {
    text-align: left;
    width: 100%;
  }
  .teammate-social-icons {
    justify-content: space-evenly;
  }
  .footer-contacts {
    align-items: center;
  }
  footer .social-icons,
  .footer-contacts {
    flex-direction: column;
  }
}
