/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

/* 👇👇👇 Add the styles that belong to the DESKTOP view only beneath 👇👇👇 */

@media (min-width: 1023px) {
  /* big landscape tablets, desktops */
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (min-width: 767px) {
  /* tablets, landscape mobile phones */
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */

@media only screen and (max-width: 600px) {
  /* mobile phones */

  .content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header-content {
    display: flex;
    flex-direction: column;
  }

  .top-navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
    width: 100%;
  }

  .teammate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .teammate-data {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
